.stats-badge {
  width: 43%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.stats-badge .value {
  font-size: 24px;

  margin: 0 auto;
}

.stats-badge .description {
  margin: 0 auto;
  margin-top: 8px;
  color: var(--black3);
}

#stats .section-title {
  transform: rotate(-90deg) translate(-26px);
}